body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    background: rgb(128,121,255);
    background: linear-gradient(180deg, rgba(128,121,255,1) 0%, rgba(255,255,255,1) 33%);
    background-repeat: no-repeat;
}

form{
    margin: 40px;
}
form input{
    margin-top: 10px;
    margin-bottom: 10px;
}
form p{
    color: #ff0000;
    padding-left: 5px;
    display: inline;
    opacity: 0;
    transition-duration: 0.5s;
}
.alert{
    opacity: 1;
}
.correctInput{
    content: 'Вірно!';
    color: #006811;
}

form button {
    height: 50px;
    width: 150px;
    margin-top: 20px;
    background-color: #0099ff;
    border: none;
    box-shadow: 1px 1px black;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: 0.5s;
}
form button:hover{
    background-color: #005a96;
}
.error{
    background-color: #cc5d5d;
}
.noError{
    background-color: #7beb8e;
}